.apto-dropdown-wrapper {
  width: 242px;

  height: 45px;
  float: left;
  position: relative;
  border: 1px solid #e5e5e5;
}

.apto-trigger-dropdown {
  width: 242px;

  height: 45px;
  background-color: #fff;
  border: 0;
  padding: 0 20px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.apto-trigger-dropdown:hover {
  background-color: #eee;
}

.apto-trigger-dropdown .fa-caret-down {
  float: right;
  line-height: 22px;
}

.apto-trigger-dropdown svg {
  width: 25px;
  float: left;
  height: 25px;
}

.dropdown-menu {
  width: 243px;
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 45px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item svg {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  color: #222;
}

.dropdown-item {
  width: 100%;
  height: 50px;
  line-height: 25px;
  border: 0;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #fff;
  font-weight: 700;
  font-family: Montserrat, serif;
  color: #5a616c;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #e5e5e5;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.haeding h1 {
  text-align: center;
}
.filletr {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 106px;
}
.imag {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpapers.com/images/hd/tropical-fish-turtle-4boqzuuxiaogkddq.jpg");
}
.imag2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://rare-gallery.com/uploads/posts/769166-Underwater-world-Corals-Fish.jpg");
}
.imag3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/86/e0/c6/86e0c6a66a7ac5a9a611116b11d11b71.jpg");
}
.cards {
  display: inline-flex;
  width: 100%;
  gap: 19px;
  justify-content: center;
  align-items: center;
}
.imag3 h3 {
  color: white;
  position: relative;
  bottom: -191px;
  padding: 18px;
  font-size: 20px;
}
.imag h3 {
  color: white;
  position: relative;
  bottom: -191px;
  padding: 18px;
  font-size: 20px;
}
.imag2 h3 {
  color: white;
  position: relative;
  bottom: -191px;
  padding: 18px;
  font-size: 20px;
}
.imag,
.imag2,
.imag3 {
  height: 270px;
  width: auto;
}
.link a {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding-top: 6px;
}
.cards2 {
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
  .filletr {
    display: unset;
    text-align: center;
  }
  .new {
    margin-top: 20px;
  }
  .apto-trigger-dropdown {
    width: 100%;
  }
  .apto-dropdown-wrapper {
    width: 100%;
  }
  .cards {
    display: unset;
  }
  .card1 {
    margin-top: 156px;
    border: none !important;
  }
  .dropdown-menu {
    width: 100%;
  }
}